/.vs/ValidataTestWebApplication/DesignTimeBuild/.dtbcache.v2
/.vs/ValidataTestWebApplication/config/applicationhost.config
/.vs/ValidataTestWebApplication/v17/.suo
/.vs/ValidataTestWebApplication/v17/TestStore/0/000.testlog
/.vs/ValidataTestWebApplication/v17/TestStore/0/testlog.manifest
/packages
/.vs
/ValidataTestWebApplication/bin
/ValidataTestWebApplication/obj
/ValidataUnitTestProject/bin
/ValidataUnitTestProject/obj
/ValidataTest.Core/obj/Debug
/ValidataTest.Core/bin/Debug
