@model ValidataTestWebApplication.Models.AsyncDbTaskResult

@{
    ViewBag.Title = "Result of DeleteCustomerAsync is";
}
<div style="text-align:center">
    <h2>@ViewBag.Title</h2>
    <h2>Number of state entries written to the database: <strong>@Model.TaskResult</strong></h2>
</div>
