@model ValidataTestWebApplication.Models.AsyncDbTaskResultForCreate

@{
    ViewBag.Title = "Result of CreateOrderAsync is";
}
<div style="text-align:center">
    <h2>@ViewBag.Title</h2>
    <h2>Number of state entries written to the database: <strong>@Model.TaskResult</strong></h2>
    <h2>Id of newly added Order: <strong>@Model.NewId</strong></h2>
</div>
